<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Factory Database</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
        <link rel='stylesheet' href="~/css/styles.css" type="text/css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home</a>
                <a class="nav-item nav-link" href="/engineers">Engineer Directory</a>
                <a class="nav-link nav-link" href="/engineers/create">Add new Engineer</a>
                <a class="nav-item nav-link" href="/machines">Machine Directory</a>
                <a class="nav-item nav-link" href="/machines/create">Add new Machine</a>
            </div>
        </nav>
        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>