@{
    Layout = "_Layout";
}

<h1>Factory Database</h1>
<h3>@Html.ActionLink("View Engineers Directory", "Index", "Engineers")</h3>
<h3>@Html.ActionLink("View Machine Database", "Index", "Machines")</h3>